<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true">
    <!-- Convert mvn placeholder to a logback managed property -->
    <property name="log.home" value="../logs"/>
    <property name="log.level" value="INFO"/>

    <!--=============================================================
     ===                  Appender definition                     ===
     =============================================================-->
    <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/root.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/root.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="biz-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.home}/biz.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.home}/biz.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- default -->
    <root level="${log.level:-INFO}">
        <appender-ref ref="ROOT"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.example.demo.biz" level="${log.level:-INFO}" additivity="false">
        <appender-ref ref="biz-appender"/>
    </logger>
</configuration>